$base-red: #C8102D;
$base-orange: #F2711C;
$base-yellow: #FBBD08;
$base-olive: #B5CC18;
$base-green: #21BA45;
$base-teal: #00B5AD;
$base-blue: #2185D0;
$base-violet: #6435C9;
$base-purple: #A333C8;
$base-pink: #E03997;
$base-lightpink: #ffd6e8;
$base-brown: #A5673F;
$base-gold: #C4973F;
$base-black: #1B1C1D;
$base-grey: #CCCCCC;
$base-grey2: #DDDDDD;
$base-grey3: #EEEEEE;
$base-grey4: #BEC3C9;
$base-grey5: #DEE2ED;
$base-grey6: #f3f5f9;
$base-dark: rgb(52, 52, 52);
$base-plain: #688DB7;
$base-background: #F3F5F9;
$base-white: #FFFFFF;


$font-22: 22px;
$font-20: 20px;
$font-18: 18px;
$font-16: 16px;
$font-14: 14px;
$font-12: 12px;

$font-c-9: #999;

$page-large: 100px;
$page-middle: 50px;
$content-large: 30px;
$content-middle: 15px;

$base-background-opacity: rgba(120, 120, 120, 0.9);