/* @font-face {
    font-family: 'splatoon1';
    src: url("BoschSans-Light-v5_003.ttf"),
    url("BoschSans-Medium-v5_003.ttf")
  }
  @font-face {
    font-family: 'splatoon2';
    src: url("BoschSans-Medium-v5_003.ttf")
  }
  @font-face {
    font-family: 'splatoon3';
    src: url("BoschSans-BlackItalic-v5_003.ttf")
  } */